In [1]:
!pip3 install tqdm pandas

Requirement already satisfied: tqdm in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.67.1)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

# 버스 정류장 이벤트 데이터 전처리

In [2]:
# 전처리 해야하는 이유, 우리가 원하는 데이터를 추출하기 위해서 데이터 Tree를 정리 하여야함.

# 안그러면 불러오는데 고생함.

In [3]:
import pandas as pd

masterDF = pd.read_csv("./_gs_busevent.csv")
masterDF

,route_name,bstop_arrive_time,bstop_leave_time,stop_time,node_name,node_x_pos,node_y_pos
0,818,20200104000053,20200104000140,49,하양초등학교,128.81746,35.91229
1,818,20200104000214,20200104000240,27,하양대구은행,128.82080,35.91398
2,818,20200104000501,20200104000525,25,금락초교 건너,128.82316,35.91077
3,818,20200104000554,20200104000620,27,부기리LH아파트,128.82388,35.90677
4,818,20200104000648,20200104000658,11,부기2리,128.82430,35.90354
...,...,...,...,...,...,...,...
202930,818,20200103235511,20200103235517,6,은호1리국군대구병원 건너,128.78962,35.89662
202931,818,20200103235621,20200103235650,30,경일·호산대학교(하양방향),128.80120,35.89989
202932,818,20200103235700,20200103235709,9,부호리 건너,128.80327,35.90042
202933,818,20200103235836,20200103235853,18,대구가톨릭대학교 건너,128.81219,35.90770
202934,818,20200103235905,20200103235944,41,하양시외버스터미널,128.81386,35.90931

In [4]:
masterDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202935 entries, 0 to 202934
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   route_name         202935 non-null  object
 1   bstop_arrive_time  202935 non-null  int64
 2   bstop_leave_time   202935 non-null  int64
 3   stop_time          202935 non-null  int64
 4   node_name          202935 non-null  object
 5   node_x_pos         202935 non-null  float64
 6   node_y_pos         202935 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.8+ MB

In [5]:
bstop_arrive = []
bstop_leave = []

In [6]:
from datetime import datetime
from tqdm import tqdm

for time in tqdm(masterDF['bstop_arrive_time']):
    str_datetime = str(time) 
    
    time_data = datetime.strptime(str_datetime, "%Y%m%d%H%M%S")

    bstop_arrive.append({
        "bstop_arrive_year":time_data.year, 
        "bstop_arrive_month":time_data.month, 
        "bstop_arrive_day":time_data.day, 
        "bstop_arrive_days":time_data.strftime("%Y-%m-%d"), 
        "bstop_arrive_hour":time_data.hour, 
        "bstop_arrive_minute":time_data.minute, 
        "bstop_arrive_second":time_data.second,
        "bstop_arrive_times":time_data.strftime("%H:%M:%S"),
        "bstop_arrive_timezone": "UTC+9",
    })

100%|██████████| 202935/202935 [00:03<00:00, 67144.03it/s]

In [7]:
from datetime import datetime
from tqdm import tqdm

for time in tqdm(masterDF['bstop_leave_time']):
    str_datetime = str(time) 
    
    time_data = datetime.strptime(str_datetime, "%Y%m%d%H%M%S")

    bstop_leave.append({
        "bstop_leave_year":time_data.year, 
        "bstop_leave_month":time_data.month, 
        "bstop_leave_day":time_data.day, 
        "bstop_leave_days":time_data.strftime("%Y-%m-%d"), 
        "bstop_leave_hour":time_data.hour, 
        "bstop_leave_minute":time_data.minute, 
        "bstop_leave_second":time_data.second,
        "bstop_leave_times":time_data.strftime("%H:%M:%S"),
        "bstop_leave_timezone": "UTC+9",
    })

100%|██████████| 202935/202935 [00:02<00:00, 72233.68it/s]

In [8]:
import pandas as pd

bstop_arrive = pd.DataFrame(bstop_arrive)
bstop_leave = pd.DataFrame(bstop_leave)

bstop_time = pd.concat([bstop_arrive, bstop_leave], axis=1, join='inner')
bstop_time

,bstop_arrive_year,bstop_arrive_month,bstop_arrive_day,bstop_arrive_days,bstop_arrive_hour,bstop_arrive_minute,bstop_arrive_second,bstop_arrive_times,bstop_arrive_timezone,bstop_leave_year,bstop_leave_month,bstop_leave_day,bstop_leave_days,bstop_leave_hour,bstop_leave_minute,bstop_leave_second,bstop_leave_times,bstop_leave_timezone
0,2020,1,4,2020-01-04,0,0,53,00:00:53,UTC+9,2020,1,4,2020-01-04,0,1,40,00:01:40,UTC+9
1,2020,1,4,2020-01-04,0,2,14,00:02:14,UTC+9,2020,1,4,2020-01-04,0,2,40,00:02:40,UTC+9
2,2020,1,4,2020-01-04,0,5,1,00:05:01,UTC+9,2020,1,4,2020-01-04,0,5,25,00:05:25,UTC+9
3,2020,1,4,2020-01-04,0,5,54,00:05:54,UTC+9,2020,1,4,2020-01-04,0,6,20,00:06:20,UTC+9
4,2020,1,4,2020-01-04,0,6,48,00:06:48,UTC+9,2020,1,4,2020-01-04,0,6,58,00:06:58,UTC+9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202930,2020,1,3,2020-01-03,23,55,11,23:55:11,UTC+9,2020,1,3,2020-01-03,23,55,17,23:55:17,UTC+9
202931,2020,1,3,2020-01-03,23,56,21,23:56:21,UTC+9,2020,1,3,2020-01-03,23,56,50,23:56:50,UTC+9
202932,2020,1,3,2020-01-03,23,57,0,23:57:00,UTC+9,2020,1,3,2020-01-03,23,57,9,23:57:09,UTC+9
202933,2020,1,3,2020-01-03,23,58,36,23:58:36,UTC+9,2020,1,3,2020-01-03,23,58,53,23:58:53,UTC+9
202934,2020,1,3,2020-01-03,23,59,5,23:59:05,UTC+9,2020,1,3,2020-01-03,23,59,44,23:59:44,UTC+9

In [9]:
import pandas as pd

masterDF = pd.concat([masterDF, bstop_time], axis=1, join='inner')
masterDF

,route_name,bstop_arrive_time,bstop_leave_time,stop_time,node_name,node_x_pos,node_y_pos,bstop_arrive_year,bstop_arrive_month,bstop_arrive_day,...,bstop_arrive_timezone,bstop_leave_year,bstop_leave_month,bstop_leave_day,bstop_leave_days,bstop_leave_hour,bstop_leave_minute,bstop_leave_second,bstop_leave_times,bstop_leave_timezone
0,818,20200104000053,20200104000140,49,하양초등학교,128.81746,35.91229,2020,1,4,...,UTC+9,2020,1,4,2020-01-04,0,1,40,00:01:40,UTC+9
1,818,20200104000214,20200104000240,27,하양대구은행,128.82080,35.91398,2020,1,4,...,UTC+9,2020,1,4,2020-01-04,0,2,40,00:02:40,UTC+9
2,818,20200104000501,20200104000525,25,금락초교 건너,128.82316,35.91077,2020,1,4,...,UTC+9,2020,1,4,2020-01-04,0,5,25,00:05:25,UTC+9
3,818,20200104000554,20200104000620,27,부기리LH아파트,128.82388,35.90677,2020,1,4,...,UTC+9,2020,1,4,2020-01-04,0,6,20,00:06:20,UTC+9
4,818,20200104000648,20200104000658,11,부기2리,128.82430,35.90354,2020,1,4,...,UTC+9,2020,1,4,2020-01-04,0,6,58,00:06:58,UTC+9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202930,818,20200103235511,20200103235517,6,은호1리국군대구병원 건너,128.78962,35.89662,2020,1,3,...,UTC+9,2020,1,3,2020-01-03,23,55,17,23:55:17,UTC+9
202931,818,20200103235621,20200103235650,30,경일·호산대학교(하양방향),128.80120,35.89989,2020,1,3,...,UTC+9,2020,1,3,2020-01-03,23,56,50,23:56:50,UTC+9
202932,818,20200103235700,20200103235709,9,부호리 건너,128.80327,35.90042,2020,1,3,...,UTC+9,2020,1,3,2020-01-03,23,57,9,23:57:09,UTC+9
202933,818,20200103235836,20200103235853,18,대구가톨릭대학교 건너,128.81219,35.90770,2020,1,3,...,UTC+9,2020,1,3,2020-01-03,23,58,53,23:58:53,UTC+9
202934,818,20200103235905,20200103235944,41,하양시외버스터미널,128.81386,35.90931,2020,1,3,...,UTC+9,2020,1,3,2020-01-03,23,59,44,23:59:44,UTC+9

In [11]:
import pandas as pd

masterDF.to_csv("./_gs_busevent_preprocessed.csv", index=False)